.o-mail-NavigableList {
    --mail-NavigableList-activeBgColor: #{mix($white, $o-action, 90%)};
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
=======
    --mail-NavigableList-hoverBgColor: #{mix($white, $o-action, 82.5%)};
>>>>>>> upstream/18.0
}
