.o_website_dialog {
    label {
        font-weight: $font-weight-bold;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
=======
    .o_nested_sortable_placeholder_realsize {
        margin-bottom: 4px;
    }
>>>>>>> upstream/18.0
}
