.navbar-container {
    .category-item {
        width: calc(3.5rem + 2vw);

        .category-name {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            word-break: break-all;
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
=======
            overflow-wrap: break-word;
>>>>>>> upstream/18.0
        }
    }
}

.unavailable-text {
    color:#e8590c;
}
